
@import 'styles/init.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: $layout-dock-index;

  .menu {

    &.osMenu {
      
    }
  }

  .tray {}
}