
@import 'styles/init.scss';

.menu {
  position: fixed;
  z-index: $layout-menu-index;
}

.list {
  width: auto;
  border-radius: 5px;
  background-color: #eee;

  &.children {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
  }
}

.item {
  color: #000;
  position: relative;

  &:hover {

    .list {
      display: block;
    }
  }
}
