
@import 'styles/init.scss';

.iconList {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .item {
    list-style: none;
    padding: 0 $gap;
    margin: $gap;
    text-align: center;
    width: 88px;
    border-radius: $radius / 2;

    &.selected,
    &:hover {
      background-color: $theme-background-fullness-4;
    }

    .icon {
      img {
        width: 60px;
      }
    }

    .name {
      @include text-overflow();
    }
  }
}