
@import 'styles/init.scss';

.background {

  &.color {
    background-color: $normal;

    &.opaque {
      background-color: $normal-translucent;
    }
  }

  &.circle {
    border-radius: 100%;
  }

  &.blur {
    @include css3-prefix(backdrop-filter, blur(5px));
  }
}
