
@import 'styles/init.scss';

.background {
  background-color: $normal-translucent;

  &.circle {
    border-radius: 100%;
  }

  &.opaque {
    background-color: $normal;
  }

  &.blur {
    @include css3-prefix(backdrop-filter, blur(5px));
  }
}
