
@import 'styles/init.scss';

.background {

  &.color {
    background-color: $theme-text;

    &.opaque {
      background-color: $theme-background-fullness-3;
    }
  }

  &.circle {
    border-radius: 100%;
  }

  &.blur {
    @include backdrop-blur();
  }
}
