
// TODO: 待优化合并重复项
@import 'styles/init.scss';

// os tooltip
.os-tooltip {
  position: absolute;
  display: block;
  width: auto;
  padding: 0;
  margin: 0;

  &.bottom {
    top: 100%;
  }

  &.top {
    bottom: 100%;
  }

  &.left {
    right: 100%;
  }

  &.right {
    left: 100%;
  }

  .tooltip-arrow {
    fill: $normal-translucent;
    width: 100%;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    svg {
      width: 18px;
      height: 50%;
    }
  }

  .tooltip-content {
    padding: 0;
    margin: 0;
    z-index: 0;
    border-radius: $radius;
    background-color: $normal-translucent;
    @include backdrop-blur();
    @include shadow-box();
    $name-height: $gap * 2.618;
    padding: $gap ($gap * 2);
    padding: 0 ($name-height / 4);
    color: $reverse;
    display: block;
    width: auto;
    height: $name-height;
    line-height: $name-height;
    white-space: nowrap;
  }
}

// tippy tooltip
.os-tipbox {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  line-height: initial;
  font-size: inherit;
  color: initial;

  .tippy-roundarrow {
    z-index: 1;

    svg {
      // box-shadow: rgba($black, 0.4) 0px -2px 4px;
      fill: $normal-translucent;
      filter: drop-shadow(0px -1px 4px rgba($black, 0.4));
      @include backdrop-blur();
    }
  }

  .tippy-content {
    padding: 0;
    margin: 0;
    z-index: 0;
    border-radius: $radius;
    background-color: $normal-translucent;
    @include backdrop-blur();
    @include shadow-box();

    .tooltip {
      $name-height: $gap * 2.618;
      padding: $gap ($gap * 2);
      padding: 0 ($name-height / 4);
      color: $reverse;
      display: block;
      width: auto;
      height: $name-height;
      line-height: $name-height;
      white-space: nowrap;
    }
  }
}
