
// TODO: 待优化合并重复项
@import 'styles/init.scss';

// tippy tooltip
.os-tipbox {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  line-height: initial;
  font-size: inherit;
  color: initial;

  .tippy-roundarrow {
    z-index: 1;

    svg {
      // box-shadow: rgba($black, 0.4) 0px -2px 4px;
      fill: $theme-background-fullness-1;
      filter: drop-shadow(0px -1px 4px rgba($black, 0.4));
      @include backdrop-blur();
    }
  }

  .tippy-content {
    padding: 0;
    margin: 0;
    z-index: 0;
    border-radius: $radius;
    background-color: $theme-background-fullness-1;
    @include backdrop-blur();
    @include box-shadow();

    .tooltip {
      $name-height: $gap * 2.618;
      padding: $gap ($gap * 2);
      padding: 0 ($name-height / 4);
      color: $theme-reverse;
      display: block;
      width: auto;
      height: $name-height;
      line-height: $name-height;
      white-space: nowrap;
    }
  }
}
