
@import 'styles/init.scss';

// app running animation
// @keyframes app-running {
//   0% { transform: translate3d(0, 0, 0) }
//   60% { transform: translate3d(0, 1000%, 0) scale(5) }
//   70% { transform: translate3d(0, 1000%, 0) scale(15) }
//   87% { transform: translate3d(0, 1000%, 0) scale(15); opacity: 0 }
//   88% { transform: none; opacity: 0 }
//   100% { transform: none; opacity: 1 }
// }
@keyframes app-running {
  0% { transform: scale(1); opacity: 1 }
  80% { transform: scale(2); opacity: 0 }
  90% { transform: scale(1); opacity: 0 }
  100% { transform: scale(1); opacity: 1 }
}

// app error animation
@keyframes app-error {
  0% { @include visible(); }
  10% { @include hidden(); }
  20% { @include visible(); }
  30% { @include hidden(); }
  40% { @include visible(); }
  50% { @include hidden(); }
  60% { @include visible(); }
  70% { @include hidden(); }
  80% { @include visible(); }
  90% { @include hidden(); }
}

.dockList {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;

  .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 $gap;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.running {

      > .icon {
        // animation: app-running 0.36s cubic-bezier(0.26, 1.03, 0.71, 0.39)
      }

      > .indicator {
        @include visible();
      }
    }

    &.erring {
      > .icon {
        animation: app-error .6s infinite;
      }
    }

    &.dragging {
      cursor: grabbing !important;

      // Hack
      :global(.tooltip-container) {
        @include visible();
      }
    }

    .icon {
      display: block;
      animation: none;
    }

    .indicator {
      display: block;
      width: 4px;
      height: 3px;
      position: absolute;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 1px;
      background-color: $theme-background-fullness-1;
      @include hidden();
      @include visibility-transition();
    }
  }
}
