
@font-face {
  font-family: specialSymbol;
  src: local('PingFang SC'), local('Microsoft Yahei');
  unicode-range: U+02C2, U+02C3, U+003C, U+003E, U+3009;
}

@font-face {
  font-family: 'DINRegular';
  src: url('/fonts/DIN-Regular.ttf');
}

@font-face {
  font-family: 'Digital7';
  src: url('/fonts/digital-7.ttf');
}

@font-face {
  font-family: 'Digital7Mono';
  src: url('/fonts/digital-7-mono.ttf');
}

.iconfont {
  font-size: 1em;
}

html {
  font-size: $font-size-base;
}

body {
  color: $text;
  font-size: 1rem;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  user-select: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

code {
  font-family: $monospace,
}

input {

  &::placeholder {
    text-indent: .4rem;
    font-size: $font-size-base * 0.9;
    text-transform: capitalize;
  }
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgb(230, 230, 230) inset; 
}

.radio, .checkbox {
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

::selection {
  background: $theme-normal; 
  color: $theme-reverse;
}

::-moz-selection {
  background: $theme-normal; 
  color: $theme-reverse;
}

::-webkit-selection {
  background: $theme-normal; 
  color: $theme-reverse;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95,95,95,.4);
  transition: background-color .15s;

  &:hover {
    background-color: rgba(95,95,95, .7);
  }
}
