
#os {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: $base-index;
  overflow: hidden;
}

.disabled-animation {
  animation: none !important;
  transition: none !important;
}
