
@mixin create-theme($normal, $reverse) {
  #{--normal}: $normal;
  #{--reverse}: $reverse;
  #{--normal-translucent}: rgba($normal, 0.5);
  #{--reverse-translucent}: rgba($reverse, 0.5);
}

#root {

  &.default {
    @include create-theme(
      $normal: $white,
      $reverse: $black
    )
  }

  &.dark {
    @include create-theme(
      $normal: $black,
      $reverse: $white
    )
  }
}
