
$iconfont-url: '//at.alicdn.com/t/font_190798_naqdhyni7tq.css';

// colors
$white: #ffffff;
$black: #000000;
$grey: #555555;
$primary: #3277e2;

$info: #3c77e5;
$success: #61ca57;
$error: #ee6c60;
$warning: #f6c050;

// font
$monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$serif: Georgia, Times, 'Times New Roman', serif;
$sans-serif: specialSymbol, DINRegular, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
$font-family: $sans-serif;

// typography
$font-size-base: 14px;
$font-size-large: 1.2rem;
$font-size-small: .85rem;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1rem;
$font-size-h6: $font-size-small;
$line-height-base: 1.4;

// os colors
$normal: var(--normal);
$normal-translucent: var(--normal-translucent);
$reverse: var(--reverse);
$reverse-translucent: var(--reverse-translucent);

$body-bg: var(--body-bg);
$window-bg: var(--window-bg);
$window-hover-bg: var(--window-hover-bg);

// text
$text: var(--reverse);
$text-reversal: var(--normal);
$text-dark: var(--text-dark);
$text-darken: var(--text-darken);
$text-light: var(--text-light);
$secondary: var(--text-secondary);
$disabled: var(--text-disabled);
$dividers: var(--text-dividers);

// layout
$gap: 1rem * 0.618;
$radius: 4px;

// size
$header-height: 2.6rem;
$desktop-icon-size-normal: 3.3rem;
$desktop-icon-size-small: 2.5rem;

// index
$base-index: 0;
$layout-window-index-base: 100;
$layout-header-index: 201;
$layout-popup-index: 202;
$layout-menu-index: 99999;
