
$iconfont-url: '//at.alicdn.com/t/font_190798_rjgpakiecc.css';

// colors
$white: #ffffff;
$black: #000000;
$blue: #3c77e5;
$green: #61ca57;
$red: #ee6c60;
$yellow: #f6c050;
$grey: #555555;

// font
$monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$serif: Georgia, Times, 'Times New Roman', serif;
$sans-serif: specialSymbol, DINRegular, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
$font-family: $sans-serif;

// typography
$font-size-base: 14px;
$font-size-large: 1.2rem;
$font-size-small: .85rem;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1rem;
$font-size-h6: $font-size-small;
$line-height-base: 1.4;

// theme colors
$primary: $blue;
$normal: var(--normal);
$reverse: var(--reverse);

$body-bg: var(--body-bg);
$window-bg: var(--window-bg);
$window-hover-bg: var(--window-hover-bg);

// text
$text: var(--text-color);
$text-reversal: var(--text-reversal);
$text-dark: var(--text-dark);
$text-darken: var(--text-darken);
$text-light: var(--text-light);
$secondary: var(--text-secondary);
$disabled: var(--text-disabled);
$dividers: var(--text-dividers);

// layout
$gap: 1rem * 0.618;
$radius: 4px;

// size
$header-height: 1.6rem;
$dock-height-default: 4rem;

// index
$base-index: 0;
$layout-window-index-base: 100;
$layout-header-index: 201;
$layout-dock-index: 201;
$layout-popup-index: 202;
$layout-menu-index: 203;
