
@import 'styles/init.scss';

.finder {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tab {
    height: 35px;
    border-bottom: 1px solid $theme-background-fullness-2;
    overflow: hidden;
  }

  .content {
    flex-grow: 1;
  }
}