
@import 'styles/init.scss';

.window {
  width: 100%;
  height: 100%;
  border-radius: $radius;
  overflow: hidden;

  &.normal {
    $handle-height: $gap * 3;
    background-color: white;
    @include box-shadow();

    &.actived {
      @include box-shadow();
    }

    .content {
      height: calc(100% - #{$handle-height});
    }

    .handle {
      height: $handle-height;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eeeeee;
      border-bottom: 1px solid #ddd;
      padding: 0 $gap;

      * {
        user-select: none;
      }

      .actions {
        display: flex;
        
        &:hover {
          .item {
            svg {
              opacity: 1;
            }
          }
        }

        &:hover,
        &.actived {
          .item {
            &.close {
              background-color: $error;
            }
  
            &.min {
              background-color: $warning;
            }
  
            &.toggle {
              background-color: $success;
            }
          }
        }

        .item {
          $size: $gap * 1.5;
          width: $size;
          height: $size;
          line-height: $size;
          text-align: center;
          border-radius: 100%;
          margin-right: $gap;
          background-color: rgb(221, 221, 221);
          border-color: rgb(208, 208, 208);

          svg {
            opacity: 0;
          }
        }
      }

      .name {
        display: flex;
        align-items: center;

        .icon {
          $size: $gap * 2;
          width: $size;
          height: $size;
          margin-right: $gap / 2;
        }
      }

      .extra {
        display: block;
      }
    }
  }

  &.naked {
    transition: background .166s;
  
    &.lock {
      .handle {
        cursor: no-drop;
        background: none;
      }
    }
  
    &.dragging,
    &:hover {
      @include backdrop-blur();
      background: $theme-background-fullness-3;
  
      .handle {
        visibility: visible;
      }
    }

    .content {
      width: 100%;
      height: 100%;
    }

    .handle {
      $size: $gap * 3;
      visibility: hidden;
      background: $theme-background-fullness-3;
      height: $size;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      user-select: none;
      display: block;
      cursor: move;
  
      .close {
        float: left;
      }
  
      .pin {
        float: right;
      }
  
      .close,
      .pin {
        width: $size;
        height: $size;
        padding: $radius;
        cursor: pointer;
  
        &:hover {
          background: $theme-background-fullness-3;
        }
  
        &.hidden {
          opacity: 0;
          visibility: hidden;
        }
      }
  
      .icon {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
